<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="/static/play.js"></script>
    <title>mplayer-web</title>
    <base href="/">
  </head>
  <body>
    <div class="container">

      <label for="file-select">Choose a file:</label>

      <select name="files" id="file-select" onchange="chosen_file()">
	{% for idx, path in filenames %}
	<option value="{{idx}}"{{" selected" if idx == selected else ""}}>{{path}}</option>
	{% endfor %}
      </select>

      <div class="btn-group d-flex" role="group">
	<button type="button" class="btn btn-primary flex-fill border" onclick="chosen_file()">Start</button>
      </div>

    </div>

  </body>
</html>
