<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="/static/play.js"></script>
  </head>
  <body>
    <div id="state">{{state}}</div>
    <p/>
    <button onclick="action('pause')">Pause</button><p/>
    <button onclick="action('vol_inc')">Vol+</button><p/>
    <button onclick="action('vol_dec')">Vol-</button><p/>
    <button onclick="action('mute')">Mute</button><p/>
    <button onclick="action('osd')">OSD</button><p/>
    <button onclick="action('fullscreen')">Fullscreen</button><p/>
    <button onclick="action('stop')">Stop</button><p/>
    <button onclick="action('start')">Start</button><p/>
    <button onclick="action('sub')">Sub</button><p/>
    <button onclick="action('fwd')">Forward</button><p/>
    <button onclick="action('back')">Back</button><p/>
  </body>
</html>
