<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/static/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="/static/play.js"></script>
  </head>
  <body>
    <div class="container">

      <div class="btn-group d-flex" role="group">
	<button type="button" class="btn btn-primary flex-fill border" onclick="action('back')">&lt;&lt;</button>
	<button type="button" class="btn btn-primary flex-fill border" onclick="action('pause')">Pause</button>
	<button type="button" class="btn btn-primary flex-fill border" onclick="action('fwd')">&gt;&gt;</button>
      </div>

      <div class="btn-group d-flex" role="group">
	<button type="button" class="btn btn-primary flex-fill border" onclick="action('ffback')">&lt;&lt;&lt;&lt;&lt;&lt;</button>
	<button type="button" class="btn btn-primary flex-fill border" onclick="action('fback')">&lt;&lt;&lt;&lt;</button>
	<button type="button" class="btn btn-primary flex-fill border" onclick="action('ffwd')">&gt;&gt;&gt;&gt;</button>
	<button type="button" class="btn btn-primary flex-fill border" onclick="action('fffwd')">&gt;&gt;&gt;&gt;&gt;&gt;</button>
      </div>

      <div class="btn-group d-flex" role="group">
	<button type="button" class="btn btn-primary flex-fill border" onclick="action('mute')">Mute</button>
	<button type="button" class="btn btn-primary flex-fill border" onclick="action('vol_dec')">Vol-</button>
	<button type="button" class="btn btn-primary flex-fill border" onclick="action('vol_inc')">Vol+</button>
      </div>

      <div class="btn-group d-flex" role="group">
	<button type="button" class="btn btn-primary flex-fill border" onclick="action('audio_prev')">AudioPrev</button>
	<button type="button" class="btn btn-primary flex-fill border" onclick="action('audio_next')">AudioNext</button>
      </div>

      <div class="btn-group d-flex" role="group">
	<button type="button" class="btn btn-primary flex-fill border" onclick="action('osd')">OSD</button>
	<button type="button" class="btn btn-primary flex-fill border" onclick="action('fullscreen')">Fullscreen</button>
	<button type="button" class="btn btn-primary flex-fill border" onclick="action('sub')">Sub</button>
      </div>

      <div class="btn-group d-flex" role="group">
	<button type="button" class="btn btn-primary flex-fill border" onclick="action('start')">Start</button>
	<button type="button" class="btn btn-primary flex-fill border" onclick="action('stop')">Stop</button>
	<button type="button" class="btn btn-primary flex-fill border" onclick="action('next')">Next</button>
      </div>

      <p/>
      <div id="state">{{state}}</div>

    </div>

  </body>
</html>
